[Desktop Entry]
Name=StrawWU Settings
Comment=StrawWU System Settings Center
Exec=/opt/StrawWU Hub/strawwu-hub %U
Icon=strawwu-hub
Type=Application
Categories=Settings;System;
Keywords=settings;preferences;configure;strawwu;hub;control;
StartupWMClass=strawwu-hub
StartupNotify=true
OnlyShowIn=GNOME;Unity;
